.Contact_container {
  width: 30%;
}
.focus-in {
  animation: focus-in 0.8s ease-in-out both;
}
@keyframes focus-in {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@media (max-width: 1023px) {
  .Contact_container {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .Contact_container {
    width: 80%;
  }
}
