.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right_side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.active {
  background-color: #b22cff;
}
