.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
  background-color: #1e3a8a;
}
.right_side {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
  font-size: 1.4em;
  font-family: "Times New Roman", Times, serif;
  width: 100vw;
  background-color: #1e3a8a;
}

.active {
  color: blue;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .navbar {
    width: 80vw;
  }
}
