.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
  font-size: 1.4em;
  font-family: "Times New Roman", Times, serif;
}

.active {
  color: blue;
  font-weight: bold;
}
