.project_1,
.project_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.project_1 {
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 20px;
}
.project_2 {
  margin-top: 100px;
}
.button_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}
.button_container_2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button_container_2 > Button {
  margin-top: 10px;
  padding: 10px;
}
.button_container > Button {
  margin-top: 10px;
  padding: 10px;
}
.live_button {
  background-color: #ea580c;
  color: white;
  font-size: 1.1em;
}
.Github_button {
  background-color: #1e3a8a;
  color: white;
  font-size: 1.1em;
}

.image_1 {
  width: 95%;
  margin-left: 10px;
  object-fit: cover;
  margin-top: 5px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}
.image_2 {
  width: 95%;

  object-fit: cover;
  margin-top: 5px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}
.dec_text {
  font-size: 1.1em;
  letter-spacing: 1.5px;
  margin-right: 20px;
  font-family: "mono";
  line-height: 30px;
  font-weight: 400px;
  text-align: justify;
}

.highlight {
  font-size: 1.1em;
  letter-spacing: 1.5px;
  margin-right: 20px;
  font-family: "Times New Roman", Times, serif;
  line-height: 30px;
  font-weight: bold;
  text-align: justify;

  margin-top: 10px;
}
/* for mobile */
@media (max-width: 768px) {
  .project_1,
  .project_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image_container_1,
  .image_container_2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .image_1,
  .image_2 {
    width: 100%;
    max-width: 400px; /* Prevent images from getting too large */
    border-radius: 20px;
  }

  .description_container_1,
  .description_container {
    margin: 20px 10px;
    text-align: center;
  }

  .dec_text {
    font-size: 1em;
    line-height: 1.6;
  }

  .highlight {
    font-size: 1em;
    margin-top: 8px;
  }

  .button_container,
  .button_container_2 {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .button_container Button,
  .button_container_2 Button {
    width: 90%;
    max-width: 250px;
    font-size: 1em;
    padding: 8px;
  }
}
